---
layout: default
---




<div class="container mt-6 px-2">

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 items-center">


  </div>

  <div class="container max-w-6xl">    
    <div class="grid py-4 grid-cols-1 lg:grid-cols-2 gap-12 items-center">


      <img src="{{image}}" alt="{{title}}" class="max-w-full row-start-1 lg:col-start-1 row-span-2" />

      <div class=" lg:col-start-2 lg:row-span-3">
        <h1 class="text-left font-bold leading-relaxed text-5xl">{{title}}</h1>
        <article class="prose lg:prose-xl mt-4 mb-8">
          {{ content | safe }}
        </article>
      </div>

      {% set length = galleryImages | length %}
      {% for i in range(0, length) %}
        {% set image = galleryImages[i] %}        

        <img src="{{image}}?nf_resize=fit&w=500" alt="{{title}}" class="
          row-span-2
          max-w-full 
          border-gray-100 
          border 
          rounded-sm"
          srcset="{{ image }}?nf_resize=fit&w=550 550w,
            {{ image }}?nf_resize=fit&w=1100 1100w" 
          sizes="(min-width: 1024px) 550px, 100vw" />

      {% endfor %}
    </div>
  </div>

</div>

<div class="mt-16">
  {% include "../_includes/partials/footer-cta.html" %}
</div>