---
layout: default
---

<div class="container mt-6 px-2">

  <div class="container max-w-6xl">    
    <!-- {% if tags.includes("showLive") %}
      <div id="livePreview"></div>
    {% endif %} -->
    
    <div class="grid py-4 grid-cols-1 lg:grid-cols-2 gap-12 items-center">

      <div class="max-w-full row-start-1 lg:col-start-1 row-span-2">
        {% if tags.includes("showLive") %}
          <div id="livePreview" class="flex justify-center"></div>
        {% else %}
          <img src="{{image}}" alt="{{title}}" class="max-w-full" />          
        {% endif %}
      </div>

      <div class=" lg:col-start-2 {{extraClass | default("lg:row-span-3") }}">
        <h1 class="text-left font-bold leading-relaxed text-5xl">{{title}}</h1>
        {% if tags.includes("showButton") %}
          <a href="{{link}}" 
            target="_blank"
            class="text-xl font-display lowercase font-bold text-teal-800 inline-block bg-teal-100 no-underline hover:bg-coral-500 hover:text-white py-2 px-8">see it live</a>
        {% endif %}
      

        <article class="prose lg:prose-xl mt-4 mb-8">
          {{ content | safe }}
        </article>
      </div>

      {% set length = galleryImages | length %}
      {% for i in range(0, length) %}
        {% set image = galleryImages[i] %}        

        <img src="{{image}}?nf_resize=fit&w=500" alt="{{title}}" class="
          row-span-2
          max-w-full 
          border-gray-100 
          border 
          rounded-sm"
          srcset="{{ image }}?nf_resize=fit&w=550 550w,
            {{ image }}?nf_resize=fit&w=1100 1100w" 
          sizes="(min-width: 1024px) 550px, 100vw" />

      {% endfor %}
    </div>
  </div>

</div>

<div class="mt-16">
  {% include "../_includes/partials/footer-cta.html" %}
</div>