<div class="p-5">  
  <div class="container max-w-6xl mx-auto my-8 ">
    <ul class="flex flex-wrap lg:flex-no-wrap justify-between text-center">
      <li class="my-8 lg:w-1/4 w-1/2"><a class="text-3xl inline-block p-3 transform rotate-12 hover:rotate-0 transition duration-100 md:text-5xl text-gray-400 hover:text-teal-400" href="#">twitter</a></li>
      <li class="my-8 lg:w-1/4 w-1/2"><a class="text-3xl inline-block p-3 transform -rotate-3 hover:rotate-0 transition duration-100 md:text-5xl text-gray-400 hover:text-teal-400" href="#">github</a></li>
      <li class="my-8 lg:w-1/4 w-1/2"><a class="text-3xl inline-block p-3 transform -rotate-12 hover:rotate-0 transition duration-100 md:text-5xl text-gray-400 hover:text-teal-400" href="#">instagram</a></li>
      <li class="my-8 lg:w-1/4 w-1/2"><a class="text-3xl inline-block p-3 transform rotate-6 hover:rotate-0 transition duration-100 md:text-5xl text-gray-400 hover:text-teal-400" href="#">linkedin</a></li>
    </ul>
  </div>
</div>
