<div class="p-5">  
  <div class="container max-w-6xl mx-auto my-8 ">
    <ul class="flex flex-wrap lg:flex-no-wrap justify-between text-center">
      {% for item in settings.socials %}
      <li class="my-8 lg:w-1/4 w-1/2">
        <a target="_blank" rel="noopener" class="text-3xl inline-block p-3 transform {{item.extra_class}} hover:rotate-0 transition duration-100 md:text-5xl text-gray-400 hover:text-teal-400" href="{{item.url}}">
          {{item.name}}
        </a>
      </li>        
      {% endfor %}
    </ul>
  </div>
</div>