<div class="bg-teal-800 bg-image-pattern text-white p-5">  
  <div class="container max-w-5xl mx-auto my-16 ">
    <h2 class="text-center md:text-left text-3xl md:text-4xl mb-15 px-5">past work</h2>
    <div class="flex flex-wrap justify-center md:justify-between items-start text-center">

    {% set posts = collections.project %}

    {% for i in range(0, 2) %}
        {% set post = posts[i] %}
        <!-- <div class="text-center p-5"> -->

        <a href="{{ post.url | url }}" class="md:flex-auto md:m-5 my-5 mx-auto md:w-72 block pb-1 text-left bg-white text-gray-900 hover:text-teal-500 shadow-lg">
            <div class="relative">
            <img 
                src="{{ post.data.image }}?nf_resize=smartcrop&w=960&h=640" 
                alt=""  
                srcset="{{ post.data.image }}?nf_resize=smartcrop&w=480&h=320,
                {{ post.data.image }}?nf_resize=smartcrop&w=960&h=640 2x"
            />
            </div>

            <h2 class="font-bold text-xl px-5 pb-1 pt-4 mb-2">
            {{ post.data.title }}
            </h2>
            
        </a>
        <!-- </div> -->

    {% endfor %}
    </div>
  </div>
</div>
