@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

body {
  @apply font-body;  
  -webkit-font-smoothing: antialiased;
}

h1 {
  @apply font-display text-4xl mb-3 text-center lg:text-7xl leading-6;
}

h2 {
  @apply font-display font-bold mb-3;
}

h3 {
  @apply text-2xl font-bold mb-3 font-display;
}

.bg-image-glitch {
  background-image: url('/static/img/glitch-multi.jpg');
}

.bg-image-pattern {
  background-image: url('/static/img/pattern.jpg');
  background-size: 500px; 
}


.whisker {
  opacity: 0;
  @apply transform;
  @apply rotate-12;
  transition: 0.2s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover+.whisker {
  opacity: 1;
}

button:disabled {
  opacity: 0.5;
}

/* .shadow-text {
  text-shadow: 1px #ffffff;
} */

.crazy-hover-effect {
  position: relative;
}
.crazy-hover-effect * {
  position: relative;
  z-index: 5;
}

.crazy-hover-effect::before, 
.crazy-hover-effect::after {
  content: "";
  display: block;
  height: 70%;
  width: 100%;
  position: absolute;
  z-index: 4;
  border-style: solid;
  @apply border-coral-500;
  transition: 0.1s ease-in-out;
  transform: skewX(-30deg) scaleX(0.9);
}
.crazy-hover-effect::after {
  border-width: 0.5em 0 0.25em 0;
  bottom: 0;
  right: 0;
}
.crazy-hover-effect::before {
  border-width: 0.3em 0 0.5em 0;
  top: 0;
  left: 0;
}

.crazy-hover-effect:hover:before {
  left: 1em;
}
.crazy-hover-effect:hover:after {
  right: 1em;
}



.responsive-wrapper {
  min-height: 50vh;
}

/* SYNTAX HIGHLIGHTING SORRY */
/**
* GHColors theme by Avi Aryan (http://aviaryan.in)
* Inspired by Github syntax coloring
*/

code[class*="language-"],
pre[class*="language-"] {
  @apply text-gray-800;
  font-size: .9em;
  line-height: 1.2em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre > code[class*="language-"] {
  font-size: 1em;
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  background: #f8f8f8;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .2em;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #f8f8f8;
  border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-gray-600;
  font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string,
.token.attr-value {
  /* color: #e3116c; */
  @apply text-green-600;
}

.token.punctuation,
.token.operator {
  @apply text-gray-800;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
    /* color: #36acaa; */
  @apply text-teal-400;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  @apply text-coral-500;

}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  /* color: #9a050f; */
  @apply text-teal-600;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  /* color: #00009f; */
  @apply text-green-500;
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}