---
title: Projects
layout: default
---

<div class="container max-w-3xl mt-6 px-6">

    <h1 class="font-bold text-5xl leading-relaxed">{{title}}</h1>

    <section class="mt-15">

        {% set postslist = collections.project %}

        {% for post in postslist | reverse %}
            <article class="my-16">
                <h2 class="font-bold text-3xl mb-2">
                    <a class="text-gray-900 hover:text-coral-500" href="{{ post.url | url }}">
                        {% if post.data.title %}
                            {{ post.data.title }}
                        {% else %}
                            Untitled
                       {% endif %}
                    </a>
                </h2>

                {% if post.data.description %}
                    <p class="text-lg text-gray-500 mb-3">
                        {{ post.data.description }}
                    </p>
                {% endif %}

                <p>
                    <a href="{{ post.url | url }}" class="text-teal-400 hover:text-coral-500 font-bold font-display uppercase text-md">
                        Read more →
                    </a>
                </p>

            </article>
        {% endfor %}
    </section>
</div>


<div class="mt-16">
    {% include "./_includes/partials/footer-cta.html" %}
</div>