<div class="container  max-w-5xl mx-auto my-16 px-5">
  
  <h2 class="text-center md:text-left text-xl md:text-4xl mb-15">{{homecontent.title}}</h2>
  
  <div class="w-full flex flex-wrap md:flex-no-wrap justify-between my-8">
    
    {% if homecontent.capabilities %}
      {% for item in homecontent.capabilities %}
        <div class="w-full flex-none md:w-60 mb-10">
          <h3 class="text-lg md:text-xl">{{item.title}}</h3>
          <p class="leading-relaxed">{{item.text}}</p>
        </div>
      {% endfor %}
    {% endif %}
    
  </div>
  
</div>

<div class="bg-teal-800 text-white p-5">
  
  <div class="container max-w-5xl mx-auto my-16 ">
    
    <h2 class="text-center md:text-left text-xl md:text-4xl mb-15">past work</h2>
    
    <div class="flex">

      {% for post in collections.project | reverse | slice 0,2 %}
        <article class="my-8 bg-white md:flex-1">

          <img src="{{ post.data.image }}" >

          <h2 class="font-bold text-xl text-gray-900 p-2 mb-2">
            <a href="{{ post.url | url }}">
              {% if post.data.title %}
                {{ post.data.title }}
              {% else %}
                Untitled
              {% endif %}
            </a>
          </h2>
          
        </article>
      {% endfor %}
    </div>
  </div>

</div>
