<div class="container  max-w-5xl mx-auto my-16 px-5">
  
  <h2 class="text-center md:text-left text-2xl md:text-4xl mb-15">{{homecontent.title}}</h2>
  
  <div class="w-full flex flex-wrap md:flex-no-wrap justify-between my-8">
    
    {% for item in homecontent.capabilities %}
      <div class="w-full flex-none md:w-60 mb-10">
        <h3 class="text-lg md:text-xl">{{item.title}}</h3>
        <p class="leading-relaxed">{{item.text}}</p>
      </div>
    {% endfor %}
    
  </div>
  
</div>

<div class="bg-teal-800 text-white p-5">
  
  <div class="container max-w-5xl mx-auto my-16 ">
    
    <h2 class="text-center md:text-left text-2xl md:text-4xl mb-15">past work</h2>
  
    <div class="flex flex-wrap justify-center md:justify-between text-center">

      {% set posts = collections.project | reverse %}

      {% for i in range(0, 2) %}
        {% set post = posts[i] %}
        <div class="text-center flex-grow p-2">

          <a href="{{ post.url | url }}" class="block mx-auto pb-1 text-left my-8 bg-white text-gray-900 hover:text-teal-500 shadow-lg">
            <div class="relative">
              <img src="{{ post.data.image }}?nf_resize=smartcrop&w=300&h=400" alt="" class="w-full" />
            </div>

            <h2 class="font-bold text-xl  px-5 pb-1 pt-4 mb-2">
              {{ post.data.title }}
            </h2>
            
          </a>
        </div>

      {% endfor %}
    </div>
  </div>
</div>

<div class="container max-w-5xl mx-auto my-16">
  {% for item in homecontent.testimonials %}
    <div class=" text-4xl mx-auto">&ldquo;{{item.text}}&rdquo;</div>
    <div>- {{item.from}}</div>
  {% endfor %}
</div>
