{% macro formField(labelText, fieldName, type='text', size='full') %}

<div 
  x-data="{ touched: false }" 
  class="form-line mb-6 relative text-xl md:flex-grow md:mr-4 md:w-{{size}}">
  
  <label for="{{fieldName}}" class="font-display text-base font-bold tracking-wide uppercase transition-colors pointer-events-none whitespace-no-wrap" 
    :class="{ 'text-teal-400': touched, 'text-gray-600': !touched }">
    <span >
      {{ labelText }}
    </span>
  </label>

  <input 
    x-ref="field" 
    @focus="touched = true" 
    @focusout="touched = ($refs.field.value.length > 0);" 
    type="{{type}}" 
    name="{{fieldName}}" 
    class="py-2 px-4 block w-full border border-gray-100" />  
</div>

{% endmacro %}